.folders{
    width: fit-content;
     pointer-events:auto;
}
.particles{
    position: fixed;
    z-index: -2;
}
#app{
 display: inline-block;
pointer-events: none;

}
#app #main-content{
    
  animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}