.card {
  margin: 10% 0% 0% 20%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container {
  padding: 2px 16px;
}
.card img{
    padding: 10px;
    width: 100px;
}