.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  transform-style: preserve-3d;
 z-index: -2;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.circle-position {
  pointer-events: auto;
  position: absolute;
}
.circle img {
  padding: 10px 0px 0px 5px;
    width: 90%;
    border-radius: 40%;
}
@media screen and (max-width: 1100px) {
  .circle {
opacity: 0.5;
  }
  
}
@media screen and (max-width: 1000px) {
  .circle {
opacity: 0.3;
  }
  
}