.card {
 margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  text-align: center;
  font-size: 1rem;
  background-color: #181818;
  border-radius: 20px;
 
}
#status{
  display: inline;
}
.card a{
  color: #fff;
  font:1rem;
  text-transform: uppercase;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container {
  padding: 2px 16px;
}
.card img {
  padding: 10px;
  width: 100px;
  float: center;
  
}
.aboutme-container {
  font-size: 1rem;
  padding: 20px 50px 20px 50px;

}
.aboutme-container h1 {

font-size: 2rem;
}
.aboutme-container img {
  float: right;
  width: 200px;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
 background:#0D1117;
}

.contact-container {
  text-align: left;
  border-radius: 5px;
  background-color: #21252b;
  margin: 40px 0px 0px 0px;
  padding: 15px;
  
}
.contact-container button {
  border-radius: 10px;
  background-color: #0082ff;
  padding: 10px;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  font-family: "Fira Code", monospace;
}
.contact-container button{
  margin: 0px 10px;
  
  transition: transform 0.1s;
}
.contact-container button:hover {
transform: scale(1.3);
}


.aboutme-container table{
  min-width: 300px;
}
.aboutme-container th{
  font-size: 1.3rem;
  color: rgb(236, 255, 127);
}
.aboutme-container td{
  color: #4FAFEF;
}
progress {
  border-radius: 5px; 
  width: 150px;
  height: 15px;
  border:solid black;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.5 );
  

}

progress::-webkit-progress-bar {
  background-color: #1D1E22;
  border-radius: 5px 0px 0px;
  
}
.green::-webkit-progress-value{
  background-color: #97E263;

}
.blue::-webkit-progress-value{
  background-color: #528BFF;

}
.red::-webkit-progress-value{
  background-color: #FF5252;

}
.pink::-webkit-progress-value{
  background-color: #C678DD;

}
.aboutme-container td{
  transition: transform 0.1s;

}
.aboutme-container td:hover{
 transform: scale(1.2);

}
.aboutme-container td img{
  width: 10px;
}
