.folder-icon {
  width: 50px;
  margin: 0px auto 0px 5px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  pointer-events: auto;
}
.folder-icon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
}
.file-icon {
  width: 40px;
  margin: 0px auto 10px 10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  pointer-events: auto;
}
.file-icon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
#icon-name {
  position: absolute;
  top: 35px;
  left:15px;

  color: white;
  font-size: 0.8rem;
  display: inline-block;
  width: 80px;
 
}
.container {
  margin:15px 5px;
  padding: 5px;
  display: inline-block;
  width: fit-content;
}
