.window-position {
  width: 700px;
  height: 400px;
  position: absolute;
  bottom: 100px;
  left: 250px;
  z-index: 2;
  pointer-events: auto;
  font-size: 0.8rem;
  justify-content: center;

  
}
.page-window {
  padding: 0px 0px 20px 0px;
  height: 450px;
  width: 700px;
  background-color: #282c34;
  border-radius: 5px;
  color: white;
 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  overflow: auto;
  text-align: justify;
}
.handle{
  width: 100%;
  position: fixed;
}
footer{
  height: 100px;
}
::-webkit-scrollbar {
  width: 15px;

}
h1{
  color: #26A339;
}
p{
  color: whitesmoke;
}
h4{
  color: rgb(218, 218, 140);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: rgb(99, 99, 155); 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 83, 110); 
}