
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#terminal {
  min-width: 400px;
  max-width: 400px;
  min-height: 300px;
  max-height: fit-content;
  background: #111111b2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 3;
  color: #70EEFF;
  font-family: 'VT323', monospace;
  pointer-events: auto;
  

}
#terminal:focus{
    outline: none;
}

#command-line p{
  padding-right: 10px;
  font-size: 1.2rem;

}
#command-line span {
  color: aquamarine;
  position: relative;
  outline: 0px solid transparent;
  pointer-events:auto;
  word-wrap: break-word; 
  overflow-wrap:normal;
  font-size: 1.2rem;
  
  padding-bottom:5px;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 1rem;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}


