.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;

  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  border: 1px solid ;
}
.dot:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.window {
 width: 100%;
 position: absolute;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: grey;
   z-index: 99 !important; 

}