body {
background-color: #15181C;
  background: linear-gradient(
    43deg,
    #15181C 0%,
    #21252B 46%,
    #383E4A 100%
  ) no-repeat fixed  ;
  background-size: cover;

  margin: 0px;
  font-family: "Fira Code", monospace;

  overflow: hidden;
  user-select: none;
  pointer-events: none;

}
a {
  color: white;
}
body::selection {
  color: none;
  background: none;
}
#root{
  display: inline-block;

  pointer-events: none;
}
h1{
    text-align: center;
    padding: 10px;
}

