body {

  background:  linear-gradient(to left, #141e30, #243b55);
  margin: 0px;
  font-family: "Fira Code", monospace;

  overflow: hidden;
  user-select: none;

  /* font-family: 'JetBrains Mono', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;   */
}
a {
  color: white;
}
body::selection{
  
    color: none;
    background: none;

}